name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  schedule:
    - cron: '0 4 * * 0'

jobs:
  test:
    name: Run test suite
    runs-on: ubuntu-latest

    env:
      COMPOSE_FILE: compose.ci.yaml

    strategy:
      fail-fast: false
      matrix:
        ruby:
          - 3.4.1
          - 3.3.6
          - 3.2.6

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Build docker images
        run: docker compose build --build-arg TARGET_VERSION=${{ matrix.ruby }}

      - name: Install libresolv
        run: sudo apt-get update && sudo apt-get install -y libc6

      - name: Run tests
        run: docker compose run ci


  standardrb:
    name: Code linting and formatting
    runs-on: ubuntu-latest

    env:
      COMPOSE_FILE: compose.ci.yaml

    strategy:
      fail-fast: false
      matrix:
        ruby:
          - 3.4.1

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Build docker images
        run: docker compose build --build-arg TARGET_VERSION=${{ matrix.ruby }}

      - name: Run standardrb
        run: docker compose run standardrb
