name: CI

on: [push, pull_request]

jobs:
  test:
    name: Run test suite
    runs-on: ubuntu-20.04 # TODO: Change back to 'ubuntu-latest' when https://github.com/microsoft/mssql-docker/issues/899 resolved.

    env:
      COMPOSE_FILE: docker-compose.ci.yml

    strategy:
      fail-fast: false
      matrix:
        ruby:
          - 3.0.6
          - 3.1.4
          - 3.2.2

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Build docker images
        run: docker compose build --build-arg TARGET_VERSION=${{ matrix.ruby }}

      - name: Run tests
        run: docker compose run ci
